ch1/e1/bin/*
ch1/e1/obj/*
ch2/e1/bin/*
ch2/e1/obj/*
ch2/e2/bin/*
ch2/e2/obj/*
ch2/e3/bin/*
ch2/e3/obj/*
ch2/e4/bin/*
ch2/e4/obj/*

ch2/e5/bin/*
ch2/e5/obj/*

ch2/e6/bin/*
ch2/e6/obj/*

ch2/e7/bin/*
ch2/e7/obj/*

ch2/e8/bin/*
ch2/e8/obj/*
